---
const { source, className } = Astro.props;

import {
  IoCall,
  IoGlobeOutline,
  IoLocation,
  IoLogoBehance,
  IoLogoBitbucket,
  IoLogoCodepen,
  IoLogoDiscord,
  IoLogoDribbble,
  IoLogoFacebook,
  IoLogoFoursquare,
  IoLogoGithub,
  IoLogoGitlab,
  IoLogoInstagram,
  IoLogoLinkedin,
  IoLogoMastodon,
  IoLogoMedium,
  IoLogoPinterest,
  IoLogoReddit,
  IoLogoRss,
  IoLogoSkype,
  IoLogoSlack,
  IoLogoSnapchat,
  IoLogoSoundcloud,
  IoLogoTiktok,
  IoLogoTumblr,
  IoLogoVimeo,
  IoLogoVk,
  IoLogoWhatsapp,
  IoLogoYoutube,
  IoMail,
} from "react-icons/io5";

import {
  FaBluesky,
  FaXTwitter
} from "react-icons/fa6";

const {
    bluesky,
    github,
    linkedin,
    mastodon,
    twitter,
    instagram
} = source || {};
---

<ul class={className}>
  {
    mastodon && (
      <li class="inline-block">
        <a
          aria-label="mastodon"
          href={mastodon}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMastodon />
        </a>
      </li>
    )
  }
  {
    bluesky && (
      <li class="inline-block">
        <a
          aria-label="bluesky"
          href={bluesky}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <FaBluesky />
        </a>
      </li>
    )
  }
  {
    instagram && (
      <li class="inline-block">
        <a
          aria-label="instagram"
          href={instagram}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoInstagram />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoLinkedin />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <FaXTwitter />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
</ul>
